<!DOCTYPE html>
<html>
<head>
    <style>
       #map {
        width: 100%;
        height: 650px;
      }
    </style>
</head>
<body>
<div id="map"></div>
<script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 7.971806, lng: 98.3385094},
            zoom:11
        });
      
        var polyline = null
        setInterval(function(){
          $.get("/api/last", function(data){
            var array = google.maps.geometry.encoding.decodePath(data.Last);

            polyline = new google.maps.Polyline({
              path: array,
              geodesic: true,
              strokeColor: '#FF0000',
              strokeOpacity: 1.0,
              strokeWeight: 4
            });
            polyline.setMap(map)
            console.log(polyline);
          });

        }, 10000);
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=geometry">
</script>
<script src="/jquery"></script>
</body>
</html>